@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.App {
  display: flex;
  flex-direction: column;
  height: 90vh;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}

.buttons {
  display: flex;
  margin-top: 5vh;
  align-items: center;
  /* background: green; */
  width: auto;
}

.header-container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  background: white;
  width: 100vw;
  max-height: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 99;
  justify-content: space-between;
}

.header-logo {
  height: 10vh;
  /* width: 12vh; */
  padding-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  z-index: 100;
}
.header-logo:hover {
  color: black;
  text-decoration: none;
}
/* @media  */

/* ========================= */
.headless {
  overflow-x: hidden;
  font-family: "Mulish", sans-serif;
}

.homepage-logo {
  pointer-events: none;
}

.homepage {
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  /* background: green; */
  height: 90vh;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  overflow-y: hidden;
}

.homepage-header {
  font-weight: bold;
  font-size: 4vh;
}

.homepage-install-msg {
  font-size: 3vh;
}

.homepage-install-link {
  font-size: 2.5vh;
}
/* ========================= */

.install-page {
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  /* background: green; */
  min-height: 90vh;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  /* overflow-y: hidden; */
}
.intsall-header-container {
  padding-top: 10%;
  /* background: green; */
}
.install-step-section {
  padding-top: 10%;
  padding-bottom: 10%;
}
.install-step {
  font-size: 3vh;
  text-decoration: underline;
  font-weight: bold;
}

.install-image {
  pointer-events: none;
}
/* ========================= */

.page-heading-container {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* background: green; */
  /* background: green; */
}
.page-heading {
  font-weight: bold;
  /* background: green; */
}

/* ============================ */

.pwa-start-page {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.loader-retry {
  height: 4vh;
  width: 40vw;
  justify-content: space-around;
  align-content: center;
  font-size: 2vh;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3vh;
  padding-bottom: 5vh;
}
